.topAreaWrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
}


.topArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    text-align: center;
    align-items: center;
    gap: 2em;
}

.colecaoTitle {
    margin-left: 6em;
}

.sortingArea {
    display: flex;
    justify-content: space-around;
    width: 80%;
    gap: 8em;
}

.textBuscadorArea {
    font-family: 'Roboto', sans-serif;
    color: #10162f;
    font-size: 1.4rem;
    text-align: justify;
}

.textSortingArea {
    font-family: 'Roboto', sans-serif;
    color: #10162f;
    font-size: 1.4rem;
    text-align: justify;
}

.buscadorOrdenadorArea {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.filterArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em
}

@media (max-width:1200px) {
    
    .sortingArea {
        flex-direction: column;
        gap: 2em;
    }
}

@media (max-width:900px) {

    .topArea {
        width: 90%;
    }
}