.newcomersWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

.newcomersMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    margin-top: 2em;
}

.cardTextao {
    border-radius: 0.5em;
    font-family: 'Roboto', sans-serif;
    background-color: #F7F9FB;
    width: 45em;
    margin-right: 4em;
}



.titleTextao {
    font-weight: 700;
    margin-top: 1em;
    text-align: center;
    color: #10162f;
    font-size: 1.5rem;
}

.textoTextao {
    padding: 1em;
    color: #10162f;
    font-size: 1rem;
    text-align: justify;
    text-indent: 1.4em;

}

@media (max-width:1400px) {

    .newcomersMain {
        width: 500px;
    }
}

@media (max-width:900px) {

    .newcomersMain {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }

    .cardTextao {
        width: 17em;
        margin-right: 0;
        margin-bottom: 2em;
    }
}