.animalCardsTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}


.contatoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.devWrapper{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.titleContato{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: var(--bakcELetra);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}


.cardContato {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}


.cardContato a {
    color: black;
    text-decoration: none;
}

.cardContato a:hover {
    color: gray;
}


.gitLink {
    display: flex;
}


.mailP {
    display: flex;
}

.contactIcon {
    width: 25px;
    height: 25px;
}


@media (max-width:900px) {
    
    .cardContato {
        margin-left: 2.3em;
    }

    .contatoWrapper {
        display: flex;
        flex-direction: column;
    }
}
