:root {
    --bakcELetra: #10162f;
    --subColorLetras: #636363;
}

.exemploText {
    font-family: 'Roboto', sans-serif;
    color: #10162f;
    font-size: 1.4rem;
    text-align: justify;
}

.exemploWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5em;
}


.exemploWrapperCardsArea {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 1em;
}

.exemploCardOne {
    display: flex;

}

.exemploTextCardOne {
    font-family: 'Roboto', sans-serif;
    color: #10162f;
    font-size: 1.4rem;
    width: 10em;
    padding-top: 1em;
    padding-left: 1em;
    text-align: justify;
}

.exemploTextTwo {
    font-family: 'Roboto', sans-serif;
    color: #10162f;
    font-size: 1.4rem;
    text-align: justify;
    margin-top: 2em;
}

.exemploCardTwo {
    display: flex;
}

.exemploTextCardTwo {
    font-family: 'Roboto', sans-serif;
    color: #10162f;
    font-size: 1.4rem;
    width: 13em;
    padding-top: 1em;
    padding-right: 1em;
    text-align: justify;
}

.exemploTextCardTwoCelphone {
    display: none;
}

.cardWrapperExemplo {
    font-family: 'Roboto', sans-serif;
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}


@media (max-width:900px) {

    .exemploWrapper {
        padding-left: 0;
    }

    .exemploText {
        padding: 1em 1em 0 1em;
    }

    .exemploCardOne {
      margin-bottom: 0;
    }

    .exemploTextCardOne {
        font-size: 1.4rem;
        width: 13em;
        padding-top: 2em;
        padding-left: 0;
        text-align: justify;
    }

    .exemploTextTwo {
        margin-top: 0;
        margin-left: 1em;
        margin-right: 1em;
    }

    .exemploCardTwo {
        margin-left: 2em; 
    }

    .AnimalCardWrapperExemplo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:730px) {
    .exemploCardOne {
        margin-right: 1em;
      }
}

@media (max-width:650px) {
    .exemploCardOne {
        margin-right: 0;
        flex-direction: column;
        align-items: center;
      } 

    .exemploCardTwo {
        margin-left: 0;
        flex-direction: column; 
        align-items: center;
    }

    .exemploTextCardTwo {
        display: none;
    }

    .exemploTextCardTwoCelphone {
        display: block;
        font-family: 'Roboto', sans-serif;
        color: #10162f;
        font-size: 1.4rem;
        width: 13em;
        padding-top: 1em;
        padding-right: 0;
        padding-left: 0;
        text-align: justify;
    }
}