:root {
    --bakcELetra: #10162f;
    --subColorLetras: #636363;
}


.colecaoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titlePetCadastrados {
    font-family: 'Roboto', sans-serif;
    color: var(--bakcELetra);
    font-size: 1.5rem;
}

.AnimalCardWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin-top: 2em;
    display: flex;
}

.cardWrapper {
    
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.cardd {
    
    background-color: #F7F9FB;
    box-shadow: -3px 4px 3px var(--bakcELetra);
    border-radius: 0.5em;
    min-width: 28rem;
    height: 176px;
    display: flex;
    transition-duration: 0.5s;
}

.cardd:hover {
    transform: translate(+12px, -6px);
    border: none;
}

.backCard {
    background-color: var(--bakcELetra);
    border-radius: 0.5em;

}

.cardImageDoguito {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    width: 100%;
    height: 11rem;
    object-fit: fill;
}

.cardImage {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    width: 100%;
    height: 11rem;
    object-fit: cover;
}



.cardImageWrapper {
    width: 14rem;
    height: 11rem;
}

.cardBody {
    margin: 1rem;
    flex-grow: 1;
}

.cardTitle {
    color: var(--bakcELetra);
    line-height: 1.4rem;
    font-size: 1.4em;
    margin-bottom: 0.2em;
}

.cardSubtitle {
    font-size: 0.8em;
    color: var(--subColorLetras);
    margin-bottom: 0.6em;
}

.cardText {
    font-size: 1em;
    color: var(--subColorLetras);
    padding: 1px;
    line-height: 0.5rem;
}


@media (max-width:900px) {

    .AnimalCardWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardd {
        flex-direction: column;
        min-width: 14rem;
        height: 360px;
        background: white;
    }

    .cardImage {
        border-top-right-radius: 0.5em;
        border-bottom-left-radius: 0;
        width: 100%;
        height: 12rem;
        object-fit: cover;
    }

    .cardTitle {

        margin-top: 0.6em;
    }
    
    .cardSubtitle {

        margin-top: 0.6em;
    }
}