.carouselWrapper {
    width: 50%;
    margin: 1em;
   
}

.carouselImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.carouselCaption {
   
    border-radius: 10px;
}

.carouselText {
    color: #fff;
    text-shadow: #000 1px 1px 2px;
    -webkit-font-smoothing: antialiased;
}

.carouselTextP {
    font-size: 18px;
    color: #fff;
    text-shadow: #000 1px 1px 2px;
    -webkit-font-smoothing: antialiased;
}

@media (max-width:1200px) {
    .carouselWrapper {
        width: 90%;
        margin: 1em 0 0 0;
    }
}

@media (max-width:900px) {

    .carouselWrapper {
        width: 90%;
        margin: 1em 0 0 0;
    }

    .carouselImage {
        height: 400px;
        
    }

    .carouselTextP {
        font-size: 16px;
    }
}